---
---

@import "common";

$menu-padding: .8em;

body {
	font-size: 12pt;
	font-family: 'Open Sans', 'Segoe UI', sans-serif;
	max-width: 1000px;
	margin: 0 auto;
	padding: 1.5em;
	color: $color;
	@media (light-level: dim) { color: $color-dim; }
}

body > header {
	overflow: hidden;
	position: relative;

	h1 {
		font-weight: 300;
		font-size: 1.8em;
		margin: 0 0 .2em;
		text-align: center;
		clear: both;
	}
}

	#logo {
		width: 340px;
		height: 250px;
		display: block;

		float: right;
		margin-left: 20px;

		@media (max-width: 450px) {
			float: none;
			margin: 0 auto;
			width: 270px;
			height: 125px;
		}
	}

	#menu {
		position: relative;
		display: inline-block;
		overflow: hidden;
		font-weight: 300;
		list-style: none;
		margin: 0;
		padding: 0;
		max-width: 16em;
		left: - $menu-padding;
		margin-right: - $menu-padding;

		li {
			font-size: 1.39em;
			display: block;
			margin: 0;
			padding: 0 1em 0 0;
			overflow: visible;
			position: relative;

			a, span {
				display: block;
				text-decoration: none !important;
				color: $color;
				@media (light-level: dim) { color: $color-dim; }
			}

			span {
				$animation-duration: 400ms;

				position: relative;
				padding: .5em $menu-padding;
				background-color: transparent;
				height: 1em;
				left: 0;
				transition: left $animation-duration, background-color $animation-duration, color $animation-duration;
			}
				&:hover span {
					left: 1em;
					background-color: $active;
					color: $active-overlay;

					@media (light-level: dim) {
						background-color: $active-dim;
						color: $active-overlay-dim;
					}
				}
		}
	}

body > header {
	margin-bottom: 2em;
	padding-bottom: 1em;
	border-bottom: 1px solid $gray;
	@media (light-level: dim) { border-bottom: 1px solid $gray-dim; }
}
body > footer {
	margin-top: 2em;
	padding-top: 1em;
	border-top: 1px solid $gray;
	@media (light-level: dim) { border-top: 1px solid $gray-dim; }
}

body > footer {
	color: $gray;
	@media (light-level: dim) { color: $gray-dim; }

	a {
		text-decoration: underline;

		&, &:link, &:visited {
			color: $gray;
			@media (light-level: dim) { color: $gray-dim; }

			&:hover, &:focus, &:active {
				color: $gray;
				@media (light-level: dim) { color: $gray-dim; }
				text-decoration: none;
			}
		}
	}
}

main, body > footer {
	position: relative;
	clear: both;
	overflow: hidden;
}

main {
	a {
		text-decoration: underline;

		&, &:link, &:visited {
			color: $link;

			&:hover, &:focus, &:active {
				color: $active;
				@media (light-level: dim) { color: $active-dim; }
				text-decoration: none;
			}
		}
	}

	h1, h2, h3 {
		font-weight: 300;
		padding: 0;
		margin: 1em 0 .4em;

		&:first-child {
			margin-top: 0;
		}
	}
		h1 { font-size: 1.6em; }
		h2 { font-size: 1.4em; }
		h3 { font-size: 1.2em; }

	& > header h1 {
		font-size: 1.8em;
		margin-top: 0;
		margin-bottom: 1em;
		border-bottom: 1px dotted $gray;
		@media (light-level: dim) { border-bottom: 1px dotted $gray-dim; }
	}
}