---
---

@import "common";

$menu-padding: .8em;

body {
	font-size: 12pt;
	font-family: 'Open Sans', 'Segoe UI', sans-serif;
	max-width: 1000px;
	margin: 0 auto;
	padding: 1.5em;
}

body > header {
	overflow: hidden;
	position: relative;
	left: - $menu-padding;
	margin-right: - $menu-padding;

	h1 {
		font-weight: 300;
		font-size: 1.8em;
		margin: 0 0 .2em;
	}
}

	#logo {
		width: 340px;
		height: 250px;

		float: right;
		margin-left: 20px;
	}

	#menu {
		font-weight: 300;
		list-style: none;
		margin: 0;
		padding: 0;
		max-width: 10em;

		li {
			font-size: 1.4em;
			display: block;
			margin: 0;
			padding: 0;
			overflow: visible;

			a {
				position: relative;
				display: block;
				padding: .5em $menu-padding;
				background-color: transparent;
				color: $color;
				text-decoration: none;
				left: 0;
				transition: left 1s, background-color 1s, color 1s;
			}

			&:hover a {
				left: 2em;
				background-color: $active;
				color: $active-overlay;
			}
		}
	}

body > footer {
	margin-top: 2em;
	padding-top: 1em;
	border-top: 1px solid $gray;
	color: $gray;

	a {
		text-decoration: underline;

		&, &:link, &:visited {
			color: $gray;

			&:hover, &:focus, &:active {
				color: $gray;
				text-decoration: none;
			}
		}
	}
}

main, body > footer {
	position: relative;
	clear: both;
	overflow: hidden;
}

main {
	a {
		text-decoration: underline;

		&, &:link, &:visited {
			color: $link;

			&:hover, &:focus, &:active {
				color: $active;
				text-decoration: none;
			}
		}
	}

	h1, h2, h3 {
		font-weight: 300;
		padding: 0;
		margin: 1em 0 .4em;

		&:first-child {
			margin-top: 0;
		}
	}
		h1 { font-size: 1.6em; }
		h2 { font-size: 1.4em; }
		h3 { font-size: 1.2em; }

	& > header h1 {
		font-size: 1.8em;
		margin-top: 0;
		margin-bottom: 1em;
		border-bottom: 1px solid $color;
	}
}