$color: #000000;
$color-dim: #dddddd;
$active: #005dbc;
$active-dim: $active;
$active-overlay: #ffffff;
$active-overlay-dim: $active-overlay;
$link: $active;
$link-dim: $active;
$gray: #999999;
$gray-dim: #555555;

$weight: 300;