$color: #000000;
$color-dim: #dddddd;
$active: #005dbc;
$active-dim: $active;
$active-overlay: #ffffff;
$active-overlay-dim: $active-overlay;
$link: $active;
$link-dim: $active;
$gray: #9999aa;
$gray-dim: #555555;
$gray-border: #bbbbcc;
$gray-border-dim: #333333;

$weight: 300;