$color: #000000;
$color-dim: #dddddd;
$active: #005dbc;
$active-dim: $active;
$active-overlay: #ffffff;
$active-overlay-dim: $active-overlay;
$link: $active;
$link-dim: $active;
$gray: #bbbbbb;
$gray-dim: #444444;