---
---
<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8"/>
		<title>{{ site.site_title }}{% if page.title %}{{ page.title_delimiter }}{{ page.title }}{% endif %}</title>

		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" type="text/css" href="{{ site.cssuri }}common.css"/>
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,700,700italic"/>

		<link rel="icon" href="{{ site.imguri }}favicon.png"/>
		<meta name="application-name" content="{{ site.site_title }}"/>

		<meta property="og:url"         content="{{ site.baseurl }}{{ page.url }}"/>
		<meta property="og:site_name"   content="{{ site.site_title }}"/>
		<meta property="og:title"       content="{% if page.title %}{{ page.title }}{% else %}{{ site.site_title }}{% endif %}"/>
		<meta property="og:description" content="{{ page.opengraph_description }}"/>
		<meta property="og:image"       content="{{ site.baseurl }}{{ site.imgdir }}{{ page.opengraph_image }}"/>
		<meta property="og:locale"      content="en_US"/>
		<meta property="og:type"        content="{{ page.opengraph_type }}"/>

		{% include analytics/head.html %}
	</head>
	<body>
		{% include analytics/body-header.html %}

		<header>
			<h1>{{ site.site_title }}</h1>
			<img id="logo" src="{{ site.imguri }}logo.svg"/>
			<nav>
				<ul id="menu">
					<li><a href="{{ site.uri }}/">        <span>Home            </span></a></li>
					<li><a href="{{ site.uri }}/about">   <span>About Susan     </span></a></li>
					<li><a href="{{ site.uri }}/classes"> <span>Classes         </span></a></li>
					<li><a href="{{ site.uri }}/sessions"><span>Private Sessions</span></a></li>
					<li><a href="{{ site.uri }}/contact"> <span>Contact         </span></a></li>
				</ul>
			</nav>
		</header>

		<main>
			{% if page.title %}
				<header>
					<h1>{{ page.title }}</h1>
				</header>
			{% endif %}

			{{ content }}
		</main>

		<footer>
			<p>Copyright &copy; 2015 Earth2Me</p>
			<p><a href="https://e2m.co/privacy" target="_blank">Privacy Policy</a></p>
			<p><a href="https://quantcast.com/adchoices-pub?pub=G7Q16voLDFa45hnxVM5Ezw" target="_blank">Analytics Opt-Out</a></p>
		</footer>

		{% include analytics/body-footer.html %}
	</body>
</html>